<% include ../views/header %>


<div class="row">
    <div class="col-md-12 ">
        <form ref='' id='uploadForm' action="" method="">
          <fieldset>
                <h1>Nature's Pallete</h1>
                <p style="font-size: small;text-align: justify;line-height: 25px;">  
                    <br>
                    The roles of light environment, colouration, and colour vision have been fundamental questions in animal ecology for the last several decades. 
                    <br>
                    <br> 
                    More recently, researchers have also taken interest in how anthropogenic disturbances in light environments may influence the behaviour and welfare of wild animals. Deforestation and agricultural practices, for example, can change the transmission properties of streams and lakes through soil particulate release, and influence the mating behaviour of fish, and city smog could affect visual communication in birds. The realization that visual perceptions (e.g., colours) are sensory experiences that differ among species, has further highlighted the need for an objective quantification of light and the energy reflected at different wavelengths (spectral measurements). 
                    <br>
                    <br>
                    Over the last 20 years, the rising popularity of portable spectrometers has made objective quantification of the spectral properties of light, and animal/plant commonplace.
                    <br>
                    <br>
                    The research projects that require the quantification of colours typically require thousands of spectral measurements. These usually come from ambient natural or artificial light sources (irradiance), transmittance properties of the medium (air, water), and reflective properties of animal integuments and the substrates in their environment. 
                    <br>
                    <br>
                    Reflectiveproperties can be acquired directly from the wild or from museum specimens. 
                    <br>
                    <br>
                    We estimate that comparative studies in birds, for example, have characterized the plumage colours for over 40% of described species (4000+ taxa). 
                    <br>
                    <br>
                    Yet, a survey demonstrates that less than 5% of these data are publicly available to other researchers. 
                    <br>
                    <br>
                    Furthermore, the datasets that are available through repositories are not curated in a way that makes them searchable and/or do not provide the metadata that would easily allow their inclusion in other studies. 
                    <br>
                    <br>
                    As a consequence, the opportunities for large scale studies are limited, and substantial resources (time and money) are wasted on duplicating data for different research projects.
                    <br>
                    <br>
                    The objectives of the Nature’s Palette project are to: 
                    <br> 
                    • Develop a curatorial pipeline that will allow researchers to easily supply their spectral data without going throughonerous data processing, a major barrier to data sharing, 
                    <br>
                    <br>
                    • Develop a pilot online repository of spectral data with advanced search functions
                    <br>
                    <br>
                    • Initiate the development of database services that would be unique to spectral data.
                    <br>
                    <br>
                </p>
            </fieldset>
        </form>
    </div>
</div>

<% include ../views/footer %>