<% include ../views/header %>


<div class="row">
    <div class="col-md-12 ">
        <form ref='startUploadForm' id='uploadForm' action="/upload" method="get">
          <fieldset>
                <h1> Submission Instructions</h1>
                <p> Submission Policy</p>
                <div style="display: inline-flex;">
                  <input type="checkbox" name="agree"
                         required="true">
                  <label for="agree" style="width: 115px;">I Agree</label>
                </div>
                <br>
                <button type="submit" id="" class="multi-form-submit-btn" value="Submit!">Submit</button>
            </fieldset>
        </form>
    </div>
</div>

<% include ../views/footer %>